Client/Connected Services/ServiceReference1/CarWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllCars">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCarsResult" type="tns:ArrayOfCar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Car">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnFabricatie" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Kilometraj" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Poza" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pret" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="car" type="tns:Car" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="car" type="tns:Car" />
            <s:element minOccurs="0" maxOccurs="1" name="newModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newMarca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newAnDeFabricatie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newKm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPoza" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="car" type="tns:Car" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllCarsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="GetAllCarsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="AddCarSoapIn">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="AddCarSoapOut">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCarSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCar" />
  </wsdl:message>
  <wsdl:message name="UpdateCarSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCarResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCarSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="DeleteCarSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:portType name="CarWebServiceSoap">
    <wsdl:operation name="GetAllCars">
      <wsdl:input message="tns:GetAllCarsSoapIn" />
      <wsdl:output message="tns:GetAllCarsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <wsdl:input message="tns:AddCarSoapIn" />
      <wsdl:output message="tns:AddCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <wsdl:input message="tns:UpdateCarSoapIn" />
      <wsdl:output message="tns:UpdateCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input message="tns:DeleteCarSoapIn" />
      <wsdl:output message="tns:DeleteCarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarWebServiceSoap" type="tns:CarWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap:operation soapAction="http://tempuri.org/UpdateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarWebServiceSoap12" type="tns:CarWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCars">
      <soap12:operation soapAction="http://tempuri.org/GetAllCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap12:operation soapAction="http://tempuri.org/AddCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap12:operation soapAction="http://tempuri.org/UpdateCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap12:operation soapAction="http://tempuri.org/DeleteCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarWebService">
    <wsdl:port name="CarWebServiceSoap" binding="tns:CarWebServiceSoap">
      <soap:address location="https://localhost:44365/CarWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CarWebServiceSoap12" binding="tns:CarWebServiceSoap12">
      <soap12:address location="https://localhost:44365/CarWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>